/*
CTC Separate Stylesheet
Updated: 2021-05-09 10:13:35
*/
#top-bar-wrap {
    position: fixed;
    top: 0;
}

header#site-header {
    position: fixed;
    top: 0px;
}

.page-header {
    padding-top: 100px;
    background-color: white !important;
}
.page-header-title {
    color: black !important;
}

